@import '../styles/index.scss';

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $footer-height;
    padding: 0 10%;
    background-color: var(--basic-background-color);

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
}

.logo__image {
    width: 35px;
    margin-right: 10px;
}

.logo__text {
    font-weight: bold;
    font-size: $basic__font-size;
    color: var(--basic-text-color);
}

.nav-links {
    display: flex;

    a {
        margin-left: 20px;
        font-size: $basic__font-size;
        color: var(--basic-text-color);
    }
}