:root {
    --basic-background-color: #444444;
    --alt-background-color: #333333;
    --basic-text-color: #ffffff;
    --alt-text-color: #333333;
    --basic-hover-color: #007bff;
    --button-complete-color: #28a745;
    --field-background-color: #a9a9a9;
    --button-save-color: #007bff;
    --button-delete-color: #dc3545;
}

.light-theme {
    --basic-background-color: #c1c1c1;
    --alt-background-color: #fafafa;
    --basic-text-color: #333333;
    --alt-text-color: #1d1c1c;
    --basic-hover-color: #73a1cf;
    --button-complete-color: #5cef7e;
    --field-background-color: #d7d7d7;
    --button-save-color: #73a1cf;
    --button-delete-color: #dc3545;
}

$basic__font: Verdana, sans-serif;
$basic__font-size: 16px;
$alt__font-size: 18px;
$max__font-size: 20px;
$header-height: 7vh;
$footer-height: 7vh;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: $basic__font-size;
    font-family: $basic__font;
    color: var(--basic-text-color);
    background-color: var(--basic-background-color);
}

h1 {
    font-size: $max__font-size;
    align-self: center;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}